@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Jost', sans-serif;
}

.bar{
  width: 100vw;
  height: 10vh;
  background-color:#FF9E36;
  color: white;
  font-size: 8vmin;
  font-display:inherit;
  float: right;
  top: 0px;
}

.barImage{
  padding-left: 2vw;
  height: 20vh;
  float: left;
  position: absolute;
}

.barText{
  padding-left: 5vmin;
}

.sideBar{
  padding-top: 12vh;
  height: 78vh;
  width: 15vw;
  background-color: white;
  color: black;
  font-size: 2vw;
  padding-left: 0.1vw;
  float: left;
}
.tab{
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vh;
}

.tab img{
  padding-right: 3vh;
  padding-bottom: 1.5vh;
  width: 15%;
  height: 15%;
  vertical-align: middle;
}

div.tab:hover {
  box-shadow: 0 0 2px 1px rgba(28, 0, 186, 0.5);
}

.mainDisplay {
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
  background-image: url(./images/cheetoBG.png);
  background-size: cover;
}

.titleText {
  text-indent: 1vw;
  font-size: 7vh;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
}

.contentText {
  text-indent: 1vw;
  font-size: 3vh;
}

.signIn {
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
  background-image: url(./images/cheetoBG.png);
  background-size: cover;
  font-size: 1.5vw;
}

.signInPage {
  margin-left: 1vw;
  color: white;
}


.coin {
  padding-left: 1vh;
}

.mascot {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.center {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
}

.prizeTable th, td{
  color: black;
  font-family: Jost;
  border: 1px solid black;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  font-size: 3vh;
  background-color:  white;
  max-width: 200px;
}

.float-parent { 
  width: 50%; 
} 

.float-child { 
  float: left; 
  width: 50%; 
  margin-left: auto;
} 

.centerText {
  text-align: center;
}

.picture {
  width: 40%;
  height: 40%;
}

.prizeImages {
  width: 50%;
  height: 50%;
}